body {
  margin: 0;
  font-family: 'Playfair Display', serif, 
   serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(179,205,201,1);
  font-family: 'PT Sans', sans-serif;
}

